# Instructor Do: Preparing Data for Neural Networks

In [1]:
# Initial imports
import pandas as pd
from path import Path
from sklearn.preprocessing import OneHotEncoder, StandardScaler

## Loading the data

For this demo, we will use the [iris dataset](https://archive.ics.uci.edu/ml/datasets/iris). This dataset contains information about three different types of iris flowers (Setosa, Versicolour, and Virginica).

The rows are the samples, and the columns depict the flowers' features: Sepal Length, Sepal Width, Petal Length, and Petal Width.

In [2]:
# Load the data into a DataFrame
file_path = Path("../Resources/iris.csv")
data = pd.read_csv(file_path)
data.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## One Hot Encoding

In [3]:
# Create the OneHotEncoder instance
enc = OneHotEncoder()

In [4]:
# Fit the OneHotEncoder
class_values = data["class"].values.reshape(-1, 1)
enc.fit(class_values)

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [5]:
# Fetch the categories identified by the OneHotEncoder
enc.categories_

[array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)]

In [6]:
# Encode iris categories
class_encoded = enc.transform(class_values).toarray()

In [7]:
# Create a DataFrame with the encoded class data
class_encoded_df = pd.DataFrame(
    class_encoded, columns=["setosa", "versicolor", "virginica"]
)
class_encoded_df.head()

   setosa  versicolor  virginica
0     1.0         0.0        0.0
1     1.0         0.0        0.0
2     1.0         0.0        0.0
3     1.0         0.0        0.0
4     1.0         0.0        0.0

In [8]:
# Some samples of the encoded data
display(class_encoded_df.iloc[1:3])
display(class_encoded_df.iloc[80:82])
display(class_encoded_df.iloc[100:102])

   setosa  versicolor  virginica
1     1.0         0.0        0.0
2     1.0         0.0        0.0

    setosa  versicolor  virginica
80     0.0         1.0        0.0
81     0.0         1.0        0.0

     setosa  versicolor  virginica
100     0.0         0.0        1.0
101     0.0         0.0        1.0

### Scaling Data

In [9]:
# Select the columns with numerical values to be scaled
data_to_scale = data.iloc[:, :4]
data_to_scale.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [10]:
# Create the StandardScaler instances
scaler = StandardScaler()

In [11]:
# Fit the StandardScaler
scaler.fit(data_to_scale)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [12]:
# Scale the data
scaled_data = scaler.transform(data_to_scale)

In [13]:
# Create a DataFrame with the scaled data
features_scaled_data = pd.DataFrame(scaled_data, columns=data.iloc[:, :4].columns)
features_scaled_data.head()

   sepal_length  sepal_width  petal_length  petal_width
0     -0.900681     1.032057     -1.341272    -1.312977
1     -1.143017    -0.124958     -1.341272    -1.312977
2     -1.385353     0.337848     -1.398138    -1.312977
3     -1.506521     0.106445     -1.284407    -1.312977
4     -1.021849     1.263460     -1.341272    -1.312977